:root {
  --obscure: #202c33;
  --friend-msg-color: #202c33;
  --dark-green: #005c4b;
  --chatbox-background: #00a884 ;
  --almost-black: #0b141a;
  --very-obscure-green: #182229;
  --fingwhite: white;
  --textofmessages: #e9edef;
  --button-background: #06cf9c;
  --image-pattern: url("images/pattern_darkmode.png");
  --button-text-colors: white;
}

.dark-mode {
  --obscure: #202c33;
  --friend-msg-color: #202c33;
  --dark-green: #005c4b;
  --chatbox-background: #00a884 ;
  --almost-black: #0b141a;
  --very-obscure-green: #182229;
  --fingwhite: white;
  --textofmessages: #e9edef;
  --button-background: #06cf9c;
  --image-pattern: url("images/pattern_darkmode.png");
  --button-text-colors: white;
}

.light-mode {
  --obscure: #f5f6f6;
  --friend-msg-color: #ffffff;
  --dark-green: #d9fdd3;
  --chatbox-background: #00a884 ;
  --almost-black: white;
  --very-obscure-green: #f0f2f5;
  --fingwhite: white;
  --textofmessages: #111b21;
  --button-background: #06cf9c;
  --image-pattern: url("images/pattern_lightmode.png");
  --button-text-colors: #111b21;
}

* { /*Estilos en general*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body { /*fondo fondo verde*/
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
    var(--chatbox-background) 0%, /*00a884*/
    var(--chatbox-background) 130px, /*00a884*/
    var(--very-obscure-green) 130px, /*182229*/
    var(--very-obscure-green) 100%  /*182229*/
  );
}

.container { /*Contenedor del chat en sí*/
  position: relative;
  width: 1298px;
  max-width: 100%;
  height: calc(100vh - 40px);
  background: #fff; /*#fff*/
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.06);
  display: flex;
}

.rightSide { /*Estilizador del fondo del chat*/
  position: relative;
  flex: 70%;
  background: var(--almost-black); /*0b141a*/
}

.rightSide::before { /*Imagen del fondo del chat*/
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--image-pattern);
  opacity: 0.06;
}

.header { /*parte de arriba, la usaré para hacer los botones de cambiar de vista de usuario, escoger archivos y cambiar idioma*/
  position: relative;
  width: 100%;
  height: 80px; /*originalmente 60px*/
  background: var(--obscure); /*202c33*/
  display:inline-block;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.imgText { /*Título del nombre de usuario*/
  font-weight: 500;
  line-height: 1.2em;
  margin-left: 15px;
  margin-right: 15px  ;
  padding-top: 8px;
}

.imgText span{ /*Estilo del botón de "Light Mode"*/
  font-size: 0.8em;
  color: white;
}

/*LUGAR DE PRUEBAS PARA EVITAR OVERFLOW DE CONTENIDO*/



/* CHAT BOX */
.chatbox { /*muy importante, no eliminar xd, analiza luego*/
  position: relative;
  width: 100%; /*prueba, originalmente era 100%*/
  height: calc(100% - 80px); /*esto configura la altura del chatbox en si*/
  padding: 50px;
  overflow-y: auto;
  overflow-x: hidden;
}

.message { /*posicionador de cuadros de mensajes*/
  word-wrap: break-word;
  position: relative;
  display: flex;
  width: 99%;
  margin: 5px 0;
}

.message p {  /*creador de los cuadros de colores de los mensajes*/
  position: relative;
  right: 0;
  text-align: left;
  max-width: 500px;
  padding: 12px;
  background: var(--dark-green); /*^005c4b*/
  border-radius: 10px;
  font-size: 0.9em;
  color: var(--textofmessages);
  font-family: Segoe UI;
}

.message p::before { /*triangulito al lado de los mensajes*/
  content: "";
  position: absolute;
  top: 0;
  right: -12px;
  width: 20px;
  height: 20px;
  background: linear-gradient(
    135deg,
    var(--dark-green) 0%, /*^005c4b*/
    var(--dark-green) 50%, /*^005c4b*/
    transparent 50%,
    transparent
  );
}

.message p span { /*script que hace pequeña la hora en los mensajes*/
  display: block;
  margin-top: 5px;
  font-size: 0.85em;
  opacity: 0.5;
}

.my_msg { /*establece la posicion de los cuadros de mensajes enviados por el usuario1*/
  justify-content: flex-end;
}

.friend_msg { /*establece la posicion de los cuadros de mensajes enviados por el usuario2*/
  justify-content: flex-start;
}

.friend_msg p { /*se asegura de poner blanco los mensajes del usuario2*/
  background: var(--friend-msg-color); /*202c33*/
  text-align: left;
}

.message.friend_msg p::before { /*pone a la izquierda los triangulos al lado de los mensajes*/
  content: "";
  position: absolute;
  top: 0;
  left: -12px;
  width: 20px;
  height: 20px;
  background: linear-gradient(
    225deg,
    var(--friend-msg-color) 0%, /*202c33*/
    var(--friend-msg-color) 50%, /*202c33*/
    transparent 50%,
    transparent
  );
}

/*botones del contenedor*/
.button1 {
  border-radius: 10px;
  background-color: var(--chatbox-background); /*00a884*/
  border: none;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 1%;
  width: 24.5%;
  height: 50px;
  cursor: pointer;
  margin-top: 8px;
  align-items: center;
  white-space: nowrap;
  float: left;
}



/*boton 2*/
input[type="file"]::-webkit-file-upload-button {
  position: absolute;
  border-radius: 10px;
  background-color: var(--chatbox-background); /*00a884*/
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  padding-top: 16px;
  padding-bottom: 10px;
  width: 24.5%;
  height: 50px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 7px;
  margin-top: 5px;
  left: 25%;
  position: absolute;
  font-weight: bold
}


/*doble boton*/
.button3 {
  background-color: var(--button-background); /*^005c4b*/
  border: 1px solid var(--button-background); /*^005c4b*/
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  color: var(--button-text-colors);
  height: 50px;
  width: 24.5%;
  font-size: 16px;
  cursor: pointer;
  margin-top: 8px;
  align-items: center;
  display: inline-block;
  right: 25%;
  position: absolute;
}

.button4 {
  background-color: var(--obscure); /*202c33*/
  border: 1px solid var(--button-background); /*^005c4b*/
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  color: var(--button-text-colors);
  height: 50px;
  width: 24.5%;
  font-size: 16px;
  cursor: pointer;
  margin-top: 8px;
  align-items: center;
  float: right;
}