* { /*Estilos en general*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body { /*fondo fondo verde*/
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
    #00a884 0%,
    #00a884 130px,
    #182229 130px,
    #182229 100%
  );
}

.container { /*Contenedor del chat en sí*/
  position: relative;
  width: 1298px;
  max-width: 100%;
  height: calc(100vh - 40px);
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.06);
  display: flex;
}

.rightSide { /*Estilizador del fondo del chat*/
  position: relative;
  flex: 70%;
  background: #0b141a;
}

.rightSide::before { /*Imagen del fondo del chat*/
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("images/pattern.png");
  opacity: 0.06;
}

.header { /*parte de arriba, la usaré para hacer los botones de cambiar de vista de usuario, escoger archivos y cambiar idioma*/
  position: relative;
  width: 100%;
  height: 80px; /*originalmente 60px*/
  background: #202c33;
  display:inline-block;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.message_p { /*sigue funcionando despues de eliminado*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Segoe UI;
}

.message_p b { /*sigue funcionando despues de eliminado*/
  background: #06d755;
  color: #fff;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
}

.message_p p { /*sigue funcionando despues de eliminado*/
  color: #aaa;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  font-size: 0.9em;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.imgText { /*Título del nombre de usuario*/
  font-weight: 500;
  line-height: 1.2em;
  margin-left: 15px;
  margin-right: 15px  ;
  padding-top: 8px;
}

.imgText span{ /*estilo de "online" abajo del nombre de usuario*/
  font-size: 0.8em;
  color: white;
}

/*LUGAR DE PRUEBAS PARA EVITAR OVERFLOW DE CONTENIDO*/



/* CHAT BOX */
.chatbox { /*muy importante, no eliminar xd, analiza luego*/
  position: relative;
  width: 100%; /*prueba, originalmente era 100%*/
  height: calc(100% - 80px); /*esto configura la altura del chatbox en si*/
  padding: 50px;
  overflow-y: auto;
}

.message { /*posicionador de cuadros de mensajes*/
  word-wrap: break-word;
  position: relative;
  display: flex;
  width: 99%;
  margin: 5px 0;
}

.message p {  /*creador de los cuadros de colores de los mensajes*/
  position: relative;
  right: 0;
  text-align: left;
  max-width: 65%;
  padding: 12px;
  background: #005c4b;
  border-radius: 10px;
  font-size: 0.9em;
  color: #e9edef;
}

.message p::before { /*triangulito al lado de los mensajes*/
  content: "";
  position: absolute;
  top: 0;
  right: -12px;
  width: 20px;
  height: 20px;
  background: linear-gradient(
    135deg,
    #005c4b 0%,
    #005c4b 50%,
    transparent 50%,
    transparent
  );
}

.message p span { /*script que hace pequeña la hora en los mensajes*/
  display: block;
  margin-top: 5px;
  font-size: 0.85em;
  opacity: 0.5;
}

.my_msg { /*establece la posicion de los cuadros de mensajes enviados por el usuario1*/
  justify-content: flex-end;
}

.friend_msg { /*establece la posicion de los cuadros de mensajes enviados por el usuario2*/
  justify-content: flex-start;
}

.friend_msg p { /*se asegura de poner blanco los mensajes del usuario2*/
  background: #202c33;
  text-align: left;
}

.message.friend_msg p::before { /*pone a la izquierda los triangulos al lado de los mensajes*/
  content: "";
  position: absolute;
  top: 0;
  left: -12px;
  width: 20px;
  height: 20px;
  background: linear-gradient(
    225deg,
    #202c33 0%,
    #202c33 50%,
    transparent 50%,
    transparent
  );
}

/*botones del contenedor*/
.button1 {
  border-radius: 10px;
  background-color: #00a884;
  border: none;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 1%;
  width: 24.5%;
  height: 50px;
  cursor: pointer;
  margin-top: 8px;
  align-items: center;
  display: inline-block;
  white-space: nowrap;
  float: left;
}



/*boton 2*/
input[type="file"]::-webkit-file-upload-button {
  position: absolute;
  border-radius: 10px;
  background-color: blue; /*#00a884;*/
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  padding-top: 16px;
  padding-bottom: 10px;
  width: 24.5%;
  height: 50px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 7px;
  margin-top: 5px;
  left: 25%;
  position: absolute;
  font-weight: bold
}


/*doble boton*/
.button3 {
  background-color: #005c4b; /* Green */
  border: 1px solid #005c4b;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  color: white;
  height: 50px;
  width: 24.5%;
  font-size: 16px;
  cursor: pointer;
  margin-top: 8px;
  align-items: center;
  display: inline-block;
  right: 25%;
  position: absolute;
}

.button4 {
  background-color: #202c33; /* Green */
  border: 1px solid #005c4b;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  color: white;
  height: 50px;
  width: 24.5%;
  font-size: 16px;
  cursor: pointer;
  margin-top: 8px;
  align-items: center;
  display: inline-block;
  float: right;
}